html{
	margin: 10px;
	border: 2px solid black;	
	background :#c4d99c
}
header{
	width:100%;
	font-size: 40px;
	padding:10px 1px;
	text-align: center;
	background: #b19cd9

}
body{
	background: white;
}
section{
	font-style: italic;
}
.nav{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 10px 1px;
	background:#c4d99c;
}	
.button{
	width:20%;
	height: 50px; background-color: white;color: black;border: none;"
}
.intro{
	display: flex;
	display: column;
	font-size: 20px;
	
}
.intro1{
	display: flex;
	flex-direction: row;
	width: 100%;
	background: white;
	padding: 10px 15px 10px 10px;
}
.left1{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	padding: 10px;
	justify-content: space-around;
}
.right1{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	padding: 10px;
	justify-content: space-around;
}
.intro2{
	display: flex;
	flex-direction: row;
	width: 100%;
	background: white;
	padding: 10px 10px 10px 15px;
}
.left2{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	padding: 10px;
}
.right2{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	padding: 10px;
}
footer{
	width: 100%;
}
@media screen and (max-width: 450px){
	.nav{flex-direction:column}
	.button{width: 100%;}
	.intro{flex-direction:column;}
	.intro1{ flex-direction: column;width:90%;order:1;}
	.intro2{flex-direction: column; width:90%;order:2;}
	.left1{width: 100%;}
	.right1{width: 100%;}
	.left2{width: 100%;}
	.right2{width: 100%;}


}
@media screen and (max-width:1024px){
	.nav{flex-direction:column}
	.button{width: 100%;}
	.intro{flex-direction:column;}
	.intro1{ flex-direction: column;width:95%;}
	.intro2{flex-direction: column; width:95%;}
	.left1{width: 100%;order:1;padding:}
	.right1{width: 100%;order:3;padding:}
	.left2{width: 100%;order:2;padding:}
	.right2{width: 100%;order:4;padding:}
}


.left{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px 15px 10px 10px;
}
.right{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px 10px 10px 15px;
}
.f{
	display: flex;
	flex-direction: row;
	text-align: justify;
	font-size: 20px;
}
@media screen and (max-width: 450px){
	.f{flex-direction: column;}
	.revleft1{ width: 100%; order: 1;}
	.revleft2{width: 100%;order: 2;}
}
@media screen and (max-width: 1024px){
	.f{flex-direction: column;}
}
.content {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
.sec{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-around;
}
