html{
	margin: 10px;
	border: 2px solid black;	
	background :#c4d99c
}
header{
	width:100%;
	font-size: 40px;
	padding:10px 1px;
	text-align: center;
	background: #b19cd9

}
body{
	background: white;
}
.nav{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 10px 1px;
	background:#c4d99c;
}	
.button{
	width:20%;
	height: 50px; background-color: white;color: black;border: none;"
}
.intro{
	display: flex;
	display: column;
	font-size: 20px;
	
}
.intro1{
	display: flex;
	flex-direction: row;
	width: 100%;
	background: white;
	padding: 10px 15px 10px 10px;
}
.left1{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	padding: 10px;
}
.right1{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	padding: 10px;
}
.intro2{
	display: flex;
	flex-direction: row;
	width: 100%;
	background: white;
	padding: 10px 10px 10px 15px;
}
.left2{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	padding: 10px;
}
.right2{
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: justify;
	padding: 10px;
}
footer{
	width: 100%;
}
.left{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px 15px 10px 10px;
}
.right{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px 10px 10px 15px;
}
.f{
	display: flex;
	flex-direction: row;
	text-align: justify;
	font-size: 20px;
}