html{
	margin: 5px;
	border: 2px solid black;	
}
header{
	width:100%;
	font-size: 50px;
	padding: 2px;
	text-align: center;
}
.nav{
	display: flex;
	flex-direction: row;
	width: 100%;
}	
.nav .button{
	width:20%;
